/* UNIVERSAL STYLES */

.container { margin-left: 1.5rem; }

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v7/LQ7WLTaITDg4OSRuOZCpswzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NAVIGATION */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.3rem;
  height: 5rem;
}

nav .title {
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: rgb(237, 190, 0);
}

.title img { width: 2.5rem;}

 nav li {
   display: inline-block;
   padding-left: 2rem;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.2rem;
 }

nav a {
  color: black;
  text-decoration: none;
  transition: color .5s;
}

nav a:hover { color: rgb(237, 190, 0); }

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  z-index: 5;
  padding-bottom: .2rem;
}

.dropbtn:hover {
  color: rgb(237, 190, 0);
  transition: color .5s;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  padding: 3rem;
  margin-right: 10rem;
  border: 1px dashed coral;
  border-radius: 200%;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  color: rgb(237, 190, 0);
}


/* Responsive NAVIGATION */

.mobile-navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mobile-navigation img { display: block; }

@media only screen and (min-width: 800px) {

}

@media only screen and (max-width: 800px) {

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Letter of Intent */

.lettercontainer {
  margin: 0rem 3rem;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.3rem;
}

@media only screen and (min-width: 1500px) {
  .lettercontainer {
    margin: 0;
    padding: 1rem 10rem;
  }
  .ul {
    display: flex;
    flex-direction: column;
  }
  .indexbod {
    border: 1px solid blue;

  }
}

@media only screen and (max-width: 830px) {
  .lettercontainer {
    margin: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {

  }
  .indexbod {

  }

  ul {
    display: none;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* PRE PROGRAM PROJECTS */

/*SOL LEWITT */


.Lewitt_title_box {
  background-image: url("file:///Users/emily/documents/projects/conservation_website/resources/images/solmain2.jpg");
  background-size: cover;
  padding-bottom: 6rem;
}

.Lewitt_title_box img {
      width: 40%;
      height: 40%;
}

.lewitt_title {
  font-family: 'Josefin Sans', sans-serif;
  padding: 4rem;
  font-size: 3.5rem;
  color: white;
}

.lewitt_text {
  line-height: 1.7;
  width: 60%;
  padding: 2rem 0;
  margin: auto;
}

.sol_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.sol_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  margin: 2rem;
  background-size: cover;
  text-align: center;
}

.sol_box p {
  visibility: hidden;
}

.sol_box:hover p {
  visibility: visible;
  padding: 150px 30px;
  color: white;
  font-size: 24px;
  line-height: 1.5;
  background-color: rgba(255, 0, 0, 0.5);
}



#one {
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/sol_1.jpg);
}

#two {
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/sol_3.jpg);
}

#three {
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/solmain.jpg);
}

#four {
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/sol_measurements.jpg);
}

#five {
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/sol_fadingbefore.jpg);
}

#six {
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/sol_fadingafter.jpg);
}

/* ABBEY */

.abbey_container {
  display: flex;
  height: 700px;
}

.abbey_gallery {
  display: flex;
  overflow: scroll;
  width: 45%;
  font-family: "Open Sans", sans-serif;
}

.abbey_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem;
  width: 55%;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}

.abbey_text a {
  color: black;
  text-decoration: black underline;
  transition: color .5s;
}
.abbey_text a:hover { color: rgb(237, 190, 0); }

.abbey_text h1 {
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.abbey_gallery p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    width: 465px;
    margin-right: 5rem;
    font-size: 24px;
    visibility: hidden;
}

#abbey1:hover p {
  visibility: visible;
  color: white;
  background: rgba(127, 127, 127, 0.5);
}

#abbey1 {
  margin: 0rem 4rem;
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/abbey1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#abbey2 {
  margin: 0rem 3rem;
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/abbey.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#abbey2:hover p {
  visibility: visible;
  color: white;
  background: rgba(127, 127, 127, 0.5);
}

#abbey3 {
  margin: 0rem 3rem;
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/abbey_verso.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#abbey3:hover p {
  visibility: visible;
  color: white;
  background: rgba(127, 127, 127, 0.5);
}

#abbey4 {
  margin: 0rem 3rem;
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/abbey_UV.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4rem;
}

#abbey4:hover p {
  visibility: visible;
  color: white;
  background: rgba(127, 127, 127, 0.5);
}

.abbeyimagecontainer {
  display: flex;
  width: 40%;

}

.abbeyimagecontainer img {
  width: 100%;
  height: 100%;
}


/* STUBBY */

.stubby_container {
  display: flex;
}
.stubby_pic {
  width: 50%;
}


/* FRAME */

.frame_title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: auto;
  font-size: 48px;
  background-image: url(file:///Users/emily/documents/projects/conservation_website/resources/images/frame_whole.jpg);
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.frame_text {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* RESEARCH */

.research_text_container {
  line-height: 1.5rem;
  padding-right: 1rem;
  width: 50%;
}

.research_text_container h1 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 1rem;
}

.research_text_container .download {
  text-align: right;
}

/* VIDEO */
.video_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}

.vid {
  width: 80rem;
  height: 30rem;

}

.video_container p {

}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Portfolio */


.portfolio_container {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  overflow: scroll;
}

.portfolio_container .tallboy {
  width: 30%;
  padding: 50px;
}

.shortboy {
  width: 65%;
  padding: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ * /

/* CV */

.backbtn {
  padding-left: 3rem;
  padding-top: 3rem;
  position: fixed;
}

.backbtn a {
  color: black;
  text-decoration: none;
  transition: color .5s;
}

.backbtn a:hover { color: rgb(237, 190, 0); }

.cv_container img {
  max-width: 1000px;
  min-width: 1000px;
  position: relative;
  top: 25px;
  left: 50px;
  margin-left: 10rem;
  overflow: hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Footer nav */

.footer_container {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  font-family: 'Josefin Sans', sans-serif;
}

footer p {
  float: right;
  margin: 3rem 3px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  color: grey;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
